
body, html{
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    background-color: #fff;

    
    
}
header.active{
    position: fixed;
    background-color: #fff;
    z-index: 3;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 12);
}




header .navbar-collapse{
    width: auto;
    flex-grow: 0;
}

header .logo{
    height: 40px;
}

header p{
    margin: auto 0 0 10px;
}



.slides{
    max-height: 38rem;
}

.carousel-inner{
    max-height: 45rem;
}

.carousel-inner img{
    min-width: 100%;
    position: relative;
    height:700px;
}



main .logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

main .logo img{
    height: 45px;
    margin-right: 5px;
}

main .logo h2{
    margin: auto 0;
}

main p{
    width:100%;
    text-align: center;
    margin:10px auto;
}

main .cards a{
    text-decoration: none;
    color: #000;
}

main .cards .card{
    margin:10px 0 ;
    height: 400px;
    transition: .2s;
    box-shadow: 1px 2px 10px 0 rgba(10, 10, 12, 0.555);
    
}

main .cards .card:hover{
    transform: scale(1.1);
    
}

main .cards .card img{
    height: 50%;
}

main .cards .card .card-body{
    text-align: center;
    
}

main .email{
    width: 100%;
    background-color: #191970;
    margin: 40px 0 0 0;
    min-height: 30vh;
    background: url('assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main .email .time{
    margin-top: 50px;
}

main .email form{
    margin: auto 0;
}

main .email form label{
    font-size: 20px;

}

main .email form input{
    margin-left: 15px;
    width: 400px;
    height: 38px;
}


main .sobre-nos{
    width: 100%;
}

main .sobre-nos .logo-sobre{
    margin: 0 auto;

}






main .sobre-nos img{
    height: 50px;
}

@media (max-width: 1399.98px) {
    main .cards .card img{
        height: 40%;
    }
}

@media (max-width: 1199.98px) {

    
    .carousel-item img{
        height:450px;
    }

    main .cards .card{
        height: 400px;
        
        
    }
    main .cards .card img{
        height: 30%;
    }

}

@media (max-width: 991.98px) {

    
    .carousel-item img{
        height:400px;
    }

    main .cards .card img{
        height: 50%;
    }

    
}

@media (max-width: 767.98px) {

    .carousel-item img{
        height:450px;
    }
   
   
    .carousel-item img{
        height:350px;
    }

    main .cards .card img{
        height: 40%;
    }
}

@media (max-width: 575.98px) {
    

   
   

    .carousel-item img{
        height:350px;
    }

    main .cards .card{
        margin:20px auto ;
        width: 250px;
    }

    
    

    main .cards .card img{
        height: 50%;
    }

    main form{
        display: flex;
        flex-direction: column;
        
    }

    main form div{
        margin: auto;
    }

    main form div .campo{
        width: 200px;
        margin: auto;
    }

}

